/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    text-align: center;
    background-color: #2ecc71;
    color: #fff;
    padding: 1rem;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    cursor: pointer;
}

.product img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button.buy-button {
    background-color: #2ecc71;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #2ecc71;
    color: #fff;
    padding: 0.5rem;
}
