body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1f1f1f;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

section {
    padding: 2rem;
    text-align: center;
}

h1, h2 {
    color: #ff9900;
}

.book img {
    max-width: 100%;
    height: auto;
    width: 150px;
}
.book img:hover {
    transform: scale(1.1); 
}