/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

main {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    font-size: 2rem;
}

.animal-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.animal-card {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.animal-card img {
    max-width: 100%;
    max-height: 200px; /* Add this line to set the maximum height */
    border-radius: 10px;
}

.animal-card:hover {
    transform: scale(1.1);
}

.interactive-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45A843;
}

footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
